<html> 
    <head>
        <title>Movie Deleted</title>
        <meta charset=utf-8>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel='preconnect' href='https://fonts.gstatic.com'>
        <link href='https://fonts.googleapis.com/css2?family=Montserrat&family=Syne:wght@400;500&display=swap' rel='stylesheet'> 
    </head>

    <body>
        <h1>Deletion page</h1>
        <h2>{{title}} has been deleted</h2>
        <p class='home-button'><a href='/'>Home</a></p>
    </body>
</html>