<html> 
    <head>
        <title>Home</title>
        <meta charset=utf-8>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel='preconnect' href='https://fonts.gstatic.com'>
        <link href='https://fonts.googleapis.com/css2?family=Montserrat&family=Syne:wght@400;500&display=swap' rel='stylesheet'> 
        <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
        <!-- Don't use this in production: -->
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    </head>

    <body>
    <div id='root'></div>
    <script type = "text/babel" >

            const Movie = props => {
                console.log(props)
                let detail_page = "/detail?id=" + props.film._id;
                return(
                    <li><a href={detail_page}>{props.film.title}</a></li>
                )
            }

            const Movies = () => {
                const moviesArray = {{{movies}}}

                let films = moviesArray.map(film => < Movie key={film._id} film={film} />)

                return(
                    <div>
                        <h1>Home</h1>
                        <h2>Films</h2>
                        <ul>
                            {films}
                        </ul>
                    </div>
                )

            }
            
            ReactDOM.render(
                <div>< Movies /></div>,
                document.getElementById('root')
            )

    </script>

    </body>
</html>